<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header>
            Profile
        </ion-card-header>
        <ion-card-content>
            <h2 *ngIf=pessoa?.nome>NOME : {{pessoa?.nome}}</h2>
            <p></p>
            <h2 *ngIf=pessoa?.razaoSocial>Razão Social: {{pessoa?.razaoSocial}}</h2>
            <h3 *ngIf=pessoa?.cpf>CPF: {{pessoa?.cpf}}</h3>
            <h3 *ngIf=pessoa?.cnpj>CNPJ: {{pessoa?.cnpj}}</h3>
            <p *ngIf=email>EMAIL: {{email}}</p>
            <p *ngIf=pessoa?.dataNascimento>Data de Nascimento: {{pessoa?.dataNascimento}}</p>
            <p *ngIf=pessoa?.sexo>Sexo: {{pessoa?.sexo}}</p>
            <p *ngIf=pessoa?.tipo?.descricao>Tipo de Pessoa: {{pessoa?.tipo?.descricao}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Endereço
        </ion-card-header>
        <ion-card-content>
            <h2>Cep: {{endereco?.cep.cep}}</h2>
            <h2>Logradouro : {{endereco?.cep.nomeRua}}</h2>
            <h2>Número: {{endereco?.numeroLogradouro}}</h2>
            <h2 *ngIf=endereco?.complemento>Complemento: {{endereco?.complemento}}</h2>
            <h2>Bairro: {{endereco?.cep.bairro}}</h2>
            <h2>Cidade: {{endereco?.cep.cidade.nome}}</h2>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            CHAVE DE API
        </ion-card-header>
        <ion-card-content>
            <H2>{{apiKey}}</H2>
        </ion-card-content>
    </ion-card>
</ion-content>