<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>Rota</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item *ngIf="!rotaResponse?.rota">
        <ion-label floating>CEP</ion-label>
        <ion-input [(ngModel)]="enderecoEntrega.cep" name="enderecoCep" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!rotaResponse?.rota">
        <ion-label floating>NUM</ion-label>
        <ion-input [(ngModel)]="enderecoEntrega.numeroLogradouro" name="enderecoNum" type="text"></ion-input>
    </ion-item>

    <button *ngIf="!rotaResponse?.rota" name="btnAdicionar" ion-button round medium (click)="validaCep()">Adicionar</button>
    <button *ngIf="!rotaResponse?.rota" name="btnGerar" ion-button round medium (click)="gerarRota()">Gerar Rota</button>

    <ion-card *ngIf="rotaResponse?.rota">
        <ion-item>
            <ion-card-title>URL MAPS</ion-card-title>
        </ion-item>
        <button name="btnMaps" ion-button round medium (click)="abrirMaps()">Rota</button>
    </ion-card>

    <ion-card *ngIf="!rotaResponse?.rota">
        <ion-item>
            <ion-card-title>Endereços à serem roteirazados</ion-card-title>
        </ion-item>
        <ion-list>
            <ion-item *ngFor="let end of listaEndereco.waypoints">
                CEP: {{end.cep}} Numero: {{end.numeroLogradouro}}
                <ion-icon name="remove-circle" (click)="removeOfList(end.cep, end.numeroLogradouro)"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="rotaResponse?.rota">
        <ion-item>
            <ion-card-title>Endereços da Rota</ion-card-title>
        </ion-item>
        <ion-list>
            <ion-item *ngFor="let e of rotaResponse.waypoints">
                <h2>
                    {{e}}
                </h2>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="rotaResponse?.rota">
        <ion-item>
            <ion-card-title>Lista de Responsáveis por endereços</ion-card-title>
        </ion-item>
        <ion-list>
            <ion-item *ngFor="let resp of rotaResponse.responsavel">
                <h2>CEP: {{resp.cep}}</h2>
                <h2>Responsavel pela Entrega: {{resp.empresa}}</h2>
            </ion-item>
        </ion-list>
    </ion-card>

    <div #map id="map"></div>
    <div #itens id="itens"></div>



</ion-content>