<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CADASTRO DE FUNCIONÁRIO</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input formControlName="nome" type="text"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input formControlName="cpf" type="text"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Data de Nascimento</ion-label>
      <ion-input formControlName="dataNascimento" type="text"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Sexo</ion-label>
      <ion-input formControlName="sexo" type="text"> </ion-input>
    </ion-item>

    <ion-card>

    </ion-card>
    <ion-card-header>Cargo</ion-card-header>
    <ion-item>
      <ion-select formControlName="idCargo">
        <ion-option *ngFor="let cargo of cargos" [value]="cargo.id">
          {{cargo.descricao}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-card>
      <ion-card-header>Cadastro de Endereço</ion-card-header>
      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-input formControlName="cep" type="text"> </ion-input>
        <button ion-button large clear item-end>
          <ion-icon name="search" (click)="verificaCep()"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <h2 *ngIf=cep?.nomeRua>Nome do logradouro : {{cep.nomeRua}}</h2>
        <h2 *ngIf=cep?.nomeBairro>Bairro : {{cep.nomeBairro}}</h2>
        <h2 *ngIf=cep?.nomeCidade>Cidade : {{cep.nomeCidade}}</h2>
        <h2 *ngIf=cep?.nomeEstado>Estado : {{cep.nomeEstado}}</h2>
      </ion-item>
      <ion-item>
        <ion-label floating>Número</ion-label>
        <ion-input formControlName="numeroLogradouro" type="text"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Complemento</ion-label>
        <ion-input formControlName="complemento" type="text"> </ion-input>
      </ion-item>
    </ion-card>



    <ion-card>
      <ion-card-header>Cadastro do Usuário</ion-card-header>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input formControlName="senha" type="password"> </ion-input>
      </ion-item>
    </ion-card>

    <button ion-button block (click)="insertFuncionario()">Criar Funcionário</button>
  </form>
</ion-content>