<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-card>
    <ion-card-header>
      PESSOA
    </ion-card-header>
    <ion-card-content>
      <h2 *ngIf=pessoa?.nome>NOME : {{pessoa?.nome}}</h2>
      <p></p>
      <h2 *ngIf=pessoa?.razaoSocial>Razão Social: {{pessoa?.razaoSocial}}</h2>
      <h3 *ngIf=pessoa?.cpf>CPF: {{pessoa?.cpf}}</h3>
      <h3 *ngIf=pessoa?.cnpj>CNPJ: {{pessoa?.cnpj}}</h3>
      <p *ngIf=email>EMAIL: {{email}}</p>
      <p *ngIf=pessoa?.dataNascimento>Data de Nascimento: {{pessoa?.dataNascimento}}</p>
      <p *ngIf=pessoa?.sexo>Sexo: {{pessoa?.sexo}}</p>
      <p *ngIf=pessoa?.tipo?.descricao>Tipo de Pessoa: {{pessoa?.tipo?.descricao}}</p>
    </ion-card-content>
  </ion-card>
  <button name="btnAltera" ion-button round medium (click)="altera()">Alterar Pessoa</button>
</ion-content>