<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EMPRESA</ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>
  <ion-card *ngIf="modo == 'consulta'">
    <ion-card-header>
      <h1>Empresa - Info</h1>
    </ion-card-header>

    <ion-item>Id Empresa: {{empresa?.id}}</ion-item>
    <ion-item>Tipo da Pessoa : {{empresa?.pessoa.tipo?.descricao}}</ion-item>
    <ion-item>Razão Social: {{empresa?.pessoa.razaoSocial}}</ion-item>
    <ion-item>CNPJ : {{empresa?.pessoa.cnpj}}</ion-item>
    <ion-item>Tipo da Empresa: {{empresa?.tipoEmpresa?.descricao}}</ion-item>
    <ion-item *ngIf="empresa?.transportadora=='1'"> Categoria : TRANSPORTADORA</ion-item>
    <ion-item *ngIf="empresa?.transportadora!='1'"> Categoria : OUTRAS</ion-item>
    <ion-item>Id Matriz: {{empresa?.empresaMatriz}}</ion-item>
  </ion-card>

  <ion-card *ngIf="modo == 'consulta'">
    <ion-card-header>
      <h1>Endereço</h1>
    </ion-card-header>
    <ion-card-content>
      <h2>Cep: {{endereco?.cep.cep}}</h2>
      <h2>Logradouro : {{endereco?.cep.nomeRua}}</h2>
      <h2>Número: {{endereco?.numeroLogradouro}}</h2>
      <h2 *ngIf=endereco?.complemento>Complemento: {{endereco?.complemento}}</h2>
      <h2>Bairro: {{endereco?.cep.bairro}}</h2>
      <h2>Cidade: {{endereco?.cep.cidade.nome}}</h2>
    </ion-card-content>

  </ion-card>

  <button name="btnUpdateEmpresa" ion-button round medium (click)="alteraModo('altera')" *ngIf="verificaPermissaoUpdate() && modo == 'consulta'">
    Alterar Empresa
  </button>
  <button name="btnCriarNovaEmpresa" ion-button round medium (click)="createEmpresa()" *ngIf="verificaPermissaoCreate() && modo == 'consulta'">
    Criar Nova Empresa
  </button>
  <button *ngIf="!filiais && modo == 'consulta' && verificaPermissaoBuscaFiliais()" name="btnExibir" ion-button block medium (click)="exibeFiliais()">
    Exibir Filiais
  </button>
  <button *ngIf="!filiais && modo == 'consulta' && verificaPermissaoBuscaFuncionarios()" name="btnExibirFuncionarios" ion-button block medium (click)="exibeFuncionarios()">
    Exibir Funcionarios
  </button>

  <form [formGroup]="formGroup">
    <ion-card *ngIf="modo == 'altera'">
      <ion-card-header>Cadastro da Empresa</ion-card-header>

      <ion-list radio-group [(ngModel)]="empresa.tipoEmpresa" formControlName="tipoEmpresa">
        <ion-list-header>Tipo da Empresa</ion-list-header>
        <ion-item>
          <ion-label>MATRIZ</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>FILIAL</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item>
        <p></p>
      </ion-item>
      <ion-list radio-group [(ngModel)]="empresa.transportadora" formControlName="transportadora">
        <ion-list-header>CATEGORIA</ion-list-header>
        <ion-item>
          <ion-label>TRANSPORTADORA</ion-label>
          <ion-radio checked=true value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>OUTRAS</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label floating>CNPJ</ion-label>
        <ion-input formControlName="empresaMatriz" type="text"> </ion-input>
        <button ion-button large clear item-end>
          <ion-icon name="search" (click)="buscaEmpresa()"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <h2 *ngIf="empresaMatrizBusca?.id">Id Empreza Matriz : {{empresaMatrizBusca.id}}</h2>
        <h2 *ngIf="empresaMatrizBusca?.pessoa.razaoSocial"> Bairro : {{empresaMatrizBusca.pessoa.razaoSocial}}</h2>
      </ion-item>
    </ion-card>

    <button name="btnUpdate" ion-button round medium (click)="update()" *ngIf="verificaPermissaoUpdate() && modo == 'altera'">
      Salvar Empresa
    </button>
  </form>
  <button name="btnUpdate" ion-button round medium (click)="alteraModo('consulta')" *ngIf="verificaPermissaoUpdate() && modo == 'altera'">
    Cancelar Alteracão
  </button>
</ion-content>