<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EMPRESA</ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h1>Empresa - Info</h1>
    </ion-card-header>

    <ion-item>Id Empresa: {{empresa?.id}}</ion-item>
    <ion-item>Razão Social: {{empresa?.pessoa.razaoSocial}}</ion-item>
    <ion-item>CNPJ : {{empresa?.pessoa.cnpj}}</ion-item>
    <ion-item>Tipo da Empresa: {{empresa?.tipo?.descricao}}</ion-item>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <h1>Endereço</h1>
    </ion-card-header>
    <ion-card-content>
      <h2>Cep: {{endereco?.cep.cep}}</h2>
      <h2>Logradouro : {{endereco?.cep.nomeRua}}</h2>
      <h2>Número: {{endereco?.numeroLogradouro}}</h2>
      <h2 *ngIf=endereco?.complemento>Complemento: {{endereco?.complemento}}</h2>
      <h2>Bairro: {{endereco?.cep.bairro}}</h2>
      <h2>Cidade: {{endereco?.cep.cidade.nome}}</h2>
    </ion-card-content>

  </ion-card>

  <button *ngIf=!filiais name="btnExibir" ion-button round medium (click)="exibeFiliais()">
    Exibir Filiais
  </button>

  <ion-card *ngIf=filiais>
    <ion-card-header>
      <h1>Filiais</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let filial of filiais" (click)="openEmpresaDetail(filial)">
          <h3>Id da Empresa: {{filial.id}}</h3>
          <h2>Nome da Empresa : {{filial.pessoa.razaoSocial}}</h2> 
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <button *ngIf=filiais name="btnEntrar" ion-button round medium (click)="esconder()">
    Esconder Filiais
  </button>
</ion-content>