page-signup {
    .item.item-input {
        border: black;
        position: relative;
        left: 0px;
        background-color: transparent;
        margin-block-end: 5px;
        width: 75%;
    }
    .card {
        width: 75%;
    }
    page-signup {
        .danger {
            color: red;
        }
    }
}